.navigation-bar{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: var(--secondary-background);
    border-bottom: 1px solid gray; 
}

.input{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

.btn-secondary-color{
    background-color: var(--secondary-color);
}

.navbar {
    padding: 10px;
}

.nav-div{
    display: flex;
    align-items: center;
    position: relative;
}

.profile-picture-nav-bar{

    justify-content: flex-end;

}

.profile-picture-nav-bar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo{
    cursor: pointer;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}