.chat-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90vh;
    overflow: hidden;
}

.left-menu {
    overflow-y: auto;
    border-right: var(--border-default) solid 1px;
}


/* Contacts styles */
.contact-list{
    display: flex;
    flex-direction: column;
}

.contact-item{
    display: flex;
    justify-content: space-between;
    padding: 4px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 15px;
    height: 7vh;
}

.contact-item-info{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-item-info-name{
    font-size: 1.3rem;
}

.contact-item-info-message{
    color: var(--text-secondary);
}

.contact-info{
    background-color: var(--bg-body);
    padding: 15px;
}

.contact-list :hover{
background-color: var(--bg-surface-hover);
}


/* Chating styles */
.main-chat {
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.messages-field{
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.input-field{
    display: flex;
    gap: 15px;
    padding: 15px;
    border-top: var(--border-default) solid 1px;
    flex-shrink: 0;
}

.message-item{
    max-width: 70%;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    min-width: 10%;
    min-height: 40px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: var(--bg-surface-hover);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-item-name{
    display: flex;
}

.message-item-content{

        display: flex;
        align-items: center;
        /* centraliza vertical */
        justify-content: center;
        /* opcional: centraliza horizontal */
}

.message-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 20px;
}

.message-mine{
    justify-content: flex-end;   
    margin-right: 20px;
    /* flex-direction: row-reverse; */
}

.message-mine div{
    background-color: var(--color-primary);
}

.unread{
    background-color: var(--bg-surface-hover);
}

.unread-count{
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    padding: 1px 5px;
}

.message-time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-secondary)
}

.message-time-unread{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-primary);
}
