.chat-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90vh;
    overflow: hidden;
}

.left-menu {
    overflow-y: auto;
    border-right: var(--border-default) solid 1px;
}


/* Contacts styles */
.contact-list{
    display: flex;
    flex-direction: column;
}

.contact-item{
    padding: 15px;
    cursor: pointer;
}

.contact-info{
    background-color: darkblue;
    padding: 15px;
}

.contact-list :hover{
background-color: var(--bg-surface-hover);
}


/* Chating styles */
.main-chat {
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.messages-field{
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.input-field{
    display: flex;
    gap: 15px;
    padding: 15px;
    border-top: var(--border-default) solid 1px;
    flex-shrink: 0;
}

.message-item{
    max-width: 70%;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: blueviolet;
}

.message-line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 10px;
}

.message-mine{
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
}
