.main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: var(--border-focus) solid 5px;
    background-color: var(--bg-surface);
    height: 10vh;
}

.right-div{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
}

.main-div a{
    text-decoration: none;
}

.leaveLink{
    cursor: pointer;
}

.logo-image{
    border-radius: 10px;
    cursor: pointer;
}