/* You can add global styles to this file, and also import other style files */
:root {
    --primary-background: #0D1117;
    --secondary-background: #010409;
    --secondary-color: #091DFA;
    --default-text-color: white;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--primary-background);
    color: var(--default-text-color);
}

