<nav class="navigation-bar">
    <div class="nav-menu nav-div"> <!-- Navigation Menu -->
        <div class="nav-button btn btn-primary flex-fill">Home</div>
        <div class="nav-button btn btn-primary flex-fill">Chat</div>
        <div class="nav-button btn btn-primary flex-fill">Profile</div>
    </div>

    <div class="nav-div input"> <!-- Search Bar -->
        <input type="text" class="form-control" placeholder="Search">
    </div>

    <div class="profile-picture-nav-bar nav-div">
        <img src="https://i.pinimg.com/736x/98/1d/6b/981d6b2e0ccb5e968a0618c8d47671da.jpg" alt="Profile picture"
            id="profile-picture-nav-bar">
    </div>
</nav>

<router-outlet></router-outlet>