.main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}